.about {
  margin-top: 8rem;
}

center a {
  border: 1px solid black;
  padding: 1rem;
  font-weight: bold;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

center a:hover {
  background-color: aliceblue;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .about {
    margin-top: 10rem;
  }
}
