.contact-icons a {
  color: var(--secondary-color);
  font-size: 3.5rem;
  transition: 0.1s ease-in-out;
}

.contact-icons a:nth-child(1):hover {
  color: rgb(5, 206, 5);
  transform: scale(1.2);
}

.contact-icons a:nth-child(2):hover {
  color: #1877f2;
  transform: scale(1.2);
}

.contact-icons a:nth-child(3):hover {
  color: #ee2a7b;
  transform: scale(1.2);
}

@media only screen and (max-width: 1024px) {
  .contact-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }

  .contact-title {
    margin-top: 8rem !important;
  }

  .contact-icons a i {
    color: var(--secondary-color);
    font-size: 3.5rem !important;
    transition: 0.1s ease-in-out;
  }
}
