.search-bar {
  margin-right: 10%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 100%;
  margin: none !important;
}

.search-box .form-control {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

button:hover:active {
  background-color: var(--seventh-color);
  color: black;
}

.search-icon:focus {
  outline: none;
}

.search-icon {
  padding: 0.57rem;
  font-size: 1.6em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  transition: 0.1s ease-in-out;
  border: none;
  background-color: #f7f7f9;
  margin-left: 100px;
}

.search-icon:hover {
  background-color: var(--seventh-color) !important;
  color: white;
}

.search-box {
  margin-right: 30px;
}

@media only screen and (max-width: 1024px) {
  .search-bar {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-box {
    width: 100%;
    margin-top: 10px;
  }

  .search-box,
  .search-icon {
    margin-right: 0;
    margin-left: 0;
    display: block;
    justify-content: center;
  }

  .search-icon {
    height: 48px;
  }

  .search-icon i {
    color: black;
  }
}
