.search-box {
  width: 50%;
}

button {
  height: 100%;
  transition: 0.1s ease-in-out;
  border: none;
  background-color: #f7f7f9;
  margin-left: 100px;
}

button:hover:active {
  background-color: #febd69;
}

.search-icon {
  padding: 0.6rem;
  font-size: 1.6em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-box,
.search-icon {
  margin-right: 30px;
}

@media only screen and (max-width: 1024px) {
  .search-box {
    width: 100%;
  }

  .search-box,
  .search-icon {
    margin-right: 0;
  }
}
