/*Footer CSS*/

footer {
  background-color: var(--fourth-color);
  color: white;
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  background-color: var(--secondary-color);
  color: white;
}

footer .input-group-text {
  background-color: var(--primary-color);
  color: white;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  * {
    direction: rtl !important;
  }

  .newsletter {
    gap: 15px;
  }

  .footer-logo {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 10px;
    height: 15vh;
  }
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    display: flex !important;
    justify-content: center !important;
    height: 12vh;
  }
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    width: 70%;
    margin: auto;
  }
}
