* {
  direction: rtl !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-align: right !important;
}

:root {
  --primary-color: #131921;
  --secondary-color: #3b4149;
  --third-color: #febd69;
  --fourth-color: #232f3e;
  --fifth-color: #bf4800;
  --sixth-color: #f5f5f7;
  --primary-text: #777777;
  --secondary-text: #bf4800;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

main {
  min-height: 80vh;
  margin-top: 12%;
}

/*Password validation of registeration*/
.valid {
  color: green !important;
}

.invalid {
  color: red !important;
}

@media only screen and (max-width: 1024px) {
}
