.sticky-nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0%;
  z-index: 10;
}

.navbar {
  background-color: #131921 !important;
  padding: 0.5rem;
}

.navbar .brand {
  color: white;
  font-size: 30px;
}

.navbar .menu-links {
  font-size: 13px;
  transition: 0.1s ease-in-out;
}

.menu-links:hover {
  color: var(--third-color) !important;
}

.navbar .nav-link i {
  color: var(--third-color);
  font-size: 18px;
}

.navbar a {
  color: white !important;
}

.navbar .nav-drop-item {
  color: black !important;
  font-weight: 500;
}

.dropdown-item.active {
  background-color: var(--third-color) !important;
}

.dropdown-menu {
  border-radius: 5% !important;
}

.header-bottom {
  background-color: #232f3e;
}

.header-bottom div {
  gap: 10rem;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.header-bottom a {
  color: white;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.header-bottom a:hover {
  color: #febd69;
}

navbar-toggler {
  color: white !important;
}

.navbar-toggler-icon,
.navbar-toggler {
  background: var(--third-color);
  font-size: 20px;
  border-radius: 5px;
  margin: 0;
}

.navbar-toggler-icon:focus,
.navbar-toggler:focus {
  outline: none;
}

.cart-count {
  position: absolute;
  background: var(--sixth-color);
  color: var(--secondary-color);
  bottom: 47px;
  text-align: center !important;
  font-size: 0.7rem;
  width: 15px;
  border-radius: 100px;
  text-align: center;
  font-weight: bolder;
}

.navbar-brand {
  margin-right: 0 !important;
}
@media only screen and (max-width: 1024px) {
  .cart {
    width: 35%;
  }

  .header-bottom div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    font-size: 1.1rem;
  }

  .cart-count {
    bottom: 35px;
  }
}

@media only screen and (max-width: 320px) {
  .navbar-brand {
    width: 80%;
  }
}
