.product-card {
  box-shadow: rgba(136, 136, 151, 0.2) 0px 7px 29px 0px;
  height: 90%;
  object-fit: contain;
  row-gap: 3rem !important;
}

.card span {
  font-weight: bold;
}

.stock-image {
  position: absolute;
  width: 13%;
  top: 1%;
  right: 2%;
  padding: 5px;
}

@media only screen and (max-width: 1024px) {
}
