.carousel {
  z-index: 1;
}

.carousel-item-next,
.carousel-item.prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
  -webkit-text-stroke: 0.7px black;
  margin-top: 17rem;
  text-align: center !important;
}

.carousel-caption h5 {
  color: #fff;
  -webkit-text-stroke: 0.7px black;
  text-align: center !important;
}

.carousel img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.carousel a {
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel button {
  margin: 5px;
  gap: 10px;
  padding: 2.5px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  width: 3%;
  text-decoration: none;
  background-color: rgb(135, 135, 135);
  transition: 0.1s ease-in-out;
}

.carousel button:focus {
  outline: none;
}

.carousel button:hover {
  background-color: rgb(91, 90, 90);
}

.carousel-indicators button {
  border: none;
}

@media only screen and (max-width: 1024px) {
  .carousel {
    margin-top: 8rem !important;
  }

  .carousel-caption h4 {
    margin-top: 17rem;
    font-size: 13px;
  }

  .carousel-caption h5 {
    font-size: 15px;
  }
}
